* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("img/banner.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  background-color: black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #f9004d;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;;
}

nav ul li a:hover {
  color: #f9004d;
  transition: .4s;
}

.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}

.btn:hover {
  transform: scale(1.2);
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.content h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 60px;
}

.content h3 {
  background-color: blue;
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

.content h4 {
  background-color: blue;
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
}

.newsletter input:last-child {
  position: absolute;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #8538;
  top: 6px;
  right: 6px;
}

.about {
  height: 100vh;
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 400px;
  border-radius: 200px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 22px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background-color: #f9004d;
  color: white;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

.service{
  background-color: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title h2{
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center ;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card{
  height:365px;
  width:335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position:relative;
  overflow: hidden;
  text-align: center;
}

.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
.card h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra{
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color:#f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px;
  border-radius: 30px;
  transition: .4s;
}

.skills{
  background-color: #281c1c;
  height: 100vh;
  width: 100%;
  padding: 100px 0px;
}
.skills .title h1{
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center ;
}
.skills-box{
  padding-left: 20px;
}
.skills-box h4{
  font-size: 1.8rem;
  color: #888;
  font-weight: 500;
}
.skills-box .skills-ilt{
  width: 100%;
  position:relative;
  height: 2rem;
  background-color: #cccccc;
  border-radius: .5rem;
}

.skills-box .skills-bar{
  background-color: #f9004d;
  height: .4rem
}

.skills-box .html{
  width:90%
}
.skills-box .css{
  width:95%
}

.skills-box .javascript{
  width:75%
}

.skills-box .php{
  width:90%
}

.skills-box .mysql{
  width:90%
}

.skills-box span{
  position: absolute;
  bottom: 10%;
  right: 0;
  font-size: 1.4rem;
}

.skills-center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.right h3{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #cccccc;
}
 .right p{
   margin-bottom: 2rem;
   color: #cccccc;
 }
 .work{
   background-color: #000016;
 }
 .work .work-content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 20px;
 }
.work .work-content .card{
  width: 400px;
  margin: 15px;
}

.work .work-content .card .card-image{
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 10px;
}

.work .work-content .card .card-image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}
.work .work-content .card .card-image img:hover {
  transform:scale(1.2);
}
